#themes-container{
    display: flex;
    gap: 20px;

    width: 100vw;

    margin: -8px;
    padding: 5px;
}
#themes-text{
    font-size: 15px;
    margin: 0;
}
.theme-container{
    display: flex;
    gap: 5px;
}
.theme-img{
    height: 16px;
    width: auto;
    margin: 0;
}
.theme{
    font-size: 15px;
    margin: 0;
    text-decoration: underline;
}
#pokemonImages-container{
    display: flex;
    gap: 15px;
}
.pokemonImages{
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;

    height: 200px;
    width: auto;
}
#name-type-container{
    display: flex;
    gap: 15px;
}
#name-type-container img{
    height: 50px;
    width: auto;

    margin-bottom: 0px;
}
#title{
    font-size: 50px;
    margin-bottom: 0;
}
#owner{
    border-bottom-style: solid;
    border-width: 6px;
    margin-top: 0;
}
.text{

    font-family: "Bitcount Single", "consolas", sans-serif;
}
#fetch-button{
    font-family: "Bitcount Single", "consolas", sans-serif;
    font-size: 20px;

    padding: 3px;

    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
}
#pokemonInput{
    font-family: "Bitcount Single", "consolas", sans-serif;
    font-size: 20px;

    background-color: white;

    padding: 3px;

    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
}
#fetchText{
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-width: 6px;


    font-family: "Bitcount Single", "consolas", sans-serif;
}
#pokemonName{
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#pokemonSpecies{
    margin-top: 0px;
    margin-bottom: 0px;
}
.corner-icon-container{
    position: relative;
}
.corner-icon{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: auto;
}
#pokedexNr{
    margin-top: 5px;
}
.stats{
    font-family: "Bitcount Single", "consolas", sans-serif;

    margin-top: 5px;
    margin-bottom: 5px;
}
#baseStatTotal{
    margin-top: 15px;
}
.title-text{
    font-family: "Bitcount Single", "consolas", sans-serif;

    margin-bottom: 15px;
    font-size: 30px;
}
.damage-multipliers-container{
    display: flex;
    gap: 10px;
}
.damage-multipliers-container h2{
    font-family: "Bitcount Single", "consolas", sans-serif;

    margin-top: 5px;
    margin-bottom: 5px;
}
.damage-multipliers-container img{
    width: 29px;
    height: 29px;

    margin-top: 2px;
    margin-bottom: 5px;
}
#fetchText-container{
    display: flex;
    gap: 15px;
}
#didYou{
    font-size: 20px;
    padding-bottom: 10px;


    font-family: "Bitcount Single", "consolas", sans-serif;
}
.meanText{
    font-family: "Bitcount Single", "consolas", sans-serif;

    font-size: 20px;
    padding-bottom: 10px;

    font-style: italic;

    text-decoration: underline;
}
#gender-container{
    display: flex;
    gap: 15px;
}
#maleIcon{
    filter: invert(24%) sepia(96%) saturate(7495%) hue-rotate(218deg) brightness(97%) contrast(101%);
}
#femaleIcon{
    filter: invert(49%) sepia(95%) saturate(2500%) hue-rotate(290deg) brightness(105%) contrast(102%);
}
#abilitiesText{
    font-family: "Bitcount Single", "consolas", sans-serif;
    
    margin-bottom: 10px;
    font-size: 25px;
}
.abilities{
    white-space: pre;
    margin-top: 5px;
    margin-bottom: 5px;
}
#height{
    margin-bottom: 5px;
}
#weight{
    margin-top: 5px;
}
.clickable:hover{
    cursor: pointer;
}
#preEvoText{
    font-family: "Bitcount Single", "consolas", sans-serif;

    margin-bottom: 15px;
    margin-top: 0px;
    font-size: 40px;
}