body{
    background-color: rgb(155,188,15);
}
#pokemonImages-container{
    display: flex;
    justify-content: gap;
    gap: 15px;
}
.pokemonImages{
    background-color: rgb(139,172,15);

    border-style: solid;
    border-color: rgb(15,56,15);
    border-width: 5px;
    border-radius: 5px;

    height: 200px;
    width: auto;
}
#name-type-container{
    display: flex;
    justify-content: gap;
    gap: 15px;
}
#name-type-container img{
    height: 50px;
    width: auto;

    margin-bottom: 0px;
}
#title{
    border-bottom-style: solid;
    border-width: 6px;
    font-size: 50px;
}
.text{
    color: rgb(15,56,15);

    font-family: "Bitcount Single", "consolas", sans-serif;
}
#fetch-button{
    background-color: rgb(139,172,15);
    color: rgb(15,56,15);

    font-family: "Bitcount Single", "consolas", sans-serif;
    font-size: 20px;

    padding: 3px;

    border-style: solid;
    border-color: rgb(15,56,15);
    border-width: 2px;
    border-radius: 8px;
}
#pokemonInput{
    font-family: "Bitcount Single", "consolas", sans-serif;
    font-size: 20px;

    background-color: white;
    color: rgb(15,56,15);

    padding: 3px;

    border-style: solid;
    border-color: rgb(15,56,15);
    border-width: 2px;
    border-radius: 8px;
}
#fetchText{
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-width: 6px;
}
#pokemonName{
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#pokemonSpecies{
    margin-top: 0px;
    margin-bottom: 0px;
}
#shinyImages-container{
    position: relative;
}
#shiny-sparkles{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: auto;
}
#pokedexNr{
    margin-top: 5px;
}
.stats{
    color: rgb(15,56,15);
    font-family: "Bitcount Single", "consolas", sans-serif;

    margin-top: 5px;
    margin-bottom: 5px;
}
#baseStatTotal{
    margin-top: 15px;
}
#damageMultipliers{
    margin-bottom: 15px;
    font-size: 30px;
}
.damage-multipliers-container{
    display: flex;
    justify-content: gap;
    gap: 10px;
}
.damage-multipliers-container h2{
    color: rgb(15,56,15);
    font-family: "Bitcount Single", "consolas", sans-serif;

    margin-top: 5px;
    margin-bottom: 5px;
}
.damage-multipliers-container img{
    width: 29px;
    height: 29px;

    margin-top: 2px;
    margin-bottom: 5px;
}